/* SPDX-License-Identifier: GPL-3.0-or-later */

.hidden {
  display: none;
}

#emulator,
#ipflags,
.view {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#emulator {
  gap: 10px;
}

#registers {
  display: flex;
  gap: 5px;
}

#registers > *,
#ipflags > *,
.view > * {
  width: max-content;
  height: max-content;
}

#views {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 5px;
}

.view-label {
  margin-bottom: 0px;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  border: 1px solid;
  padding: 5px;
}

th {
  font-weight: bold;
}

.view table {
  border: 1px solid;

  th,
  td {
    border-top: none;
    border-bottom: none;
  }

  th {
    font-family: "Courier New", Courier, monospace;
  }

  thead th {
    border-bottom: 1px solid;
  }
}

input[type="text"] {
  font-family: "Courier New", Courier, monospace;
  font-size: 100%;
  text-align: right;
}

.status-run {
  color: #00dd00;
  font-weight: bold;
}

.status-halt {
  color: #dddd00;
  font-weight: bold;
}

.status-stop {
  color: #dd0000;
  font-weight: bold;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
