/* SPDX-License-Identifier: GPL-3.0-or-later */

#emulator,
#ipflags,
#memory {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#emulator {
  gap: 10px;
}

#registers {
  display: flex;
  gap: 5px;
}

#registers > *,
#ipflags > *,
#memory > * {
  width: max-content;
  height: max-content;
}

table {
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  border: 1px solid;
  padding: 5px;
}

th {
  font-weight: bold;
}

table#memory-view {
  border: 1px solid;

  th,
  td {
    border-top: none;
    border-bottom: none;
  }

  th {
    font-family: "Courier New", Courier, monospace;
  }

  thead th {
    border-bottom: 1px solid;
  }
}

input[type="text"] {
  font-family: "Courier New", Courier, monospace;
  font-size: 100%;
  text-align: right;
}

.status-running {
  color: #00C000;
}

.status-stopped {
  color: #ff0000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
